body {
  font-family: 'Barlow', sans-serif;
  .landing-page {
    padding-right: 0!important; 
    padding-left: 0!important;
    .big-banner {
      height: 560px;
      background-color: #03FFA5;
    }
    .brands {
      background: #F2F2F2;
      height: 80px;
    }
    .solutions {
      height: 557px;
      margin: 50px 0;
    }
  }
}
